<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <p v-if="logado">Usuário Logado: {{usuario}}</p>
    <p v-else-if="anonimo">Navegando como Anonimo</p>
    <!-- v-else só funciona se o elemento anterior possuir um v-if -->
    <p v-else>Nenhum Usuário Logado</p>
    <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar'}}</button>
    <input type="checkbox" v-model="anonimo">
</div>

<script>
    new Vue({
        el: '#app',
        data:{
            usuario: 'Maria du Pai',
            logado: false,
            anonimo: false,
        }
    })
</script>