<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{ i }}) {{ cor}}</li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{ cor}}</h1>
        <p>{{i}}</p>
    </template>
    <ul>
        <li v-for="pessoa in pessoas">
            <span v-for="(valor , chave , index) in pessoa">
                {{index}}){{chave }} = {{valor}}
            </span>
        </li>
    </ul>
    <hr>
    <div v-for="n in 10">
        {{n}}
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data:{
            cores:['vermelho', 'amarelo', 'verde', 'azul'],
            pessoas : [
                {nome:'Mauricio', idade : 34, peso :135},
                {nome:'Maria', idade : 10, peso :65},
            ]
        }
    })
</script>

<style>
    ul{
        list-style: none;
    }
    h1, p {
        display: inline;
    }
</style>